<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head-admin')  %> <!-- revisar ruta -->
<body class="administracion">
    <%- include('../../partials/header-admin') %> 
    <section class="section-admin">
        <h2 class="admin">Agregar Nuevo Producto</h2>

        <form action="/admin/productos" method="post" class="form-admin">
            <div class="container-admin">
                <label for="name">Nombre del producto:</label>
                <input type="text" class="admin-style" name="name" id="name">
            </div>
            <div class="container-admin">
                <label for="type">Tipo:</label>
                <input type="text" class="admin-style" name="type" id="type">
            </div>
            <div class="container-admin">
                <label for="categoryName">Categoría:</label>
                <select name="categoryName" id="categoryName" class="admin-style">
                    <option value="">Elegí</option>
                    <option value="Frutas">Frutas</option>
                    <option value="Verduras">Verduras</option>
                </select>
            </div>
            <div class="container-admin">
                <label for="price">Precio:</label>
                <input type="number" class="admin-style" name="price" id="price">
            </div>
            <div class="container-admin">
                <label for="origin">Origen del Producto:</label>
                <input type="text" class="admin-style" name="origin" id="origin">
            </div>
            <div class="container-admin">
                <label for="view">En vista:</label>
                <input type="checkbox" class="checkbox-style" id="view" name="view">
            </div>
            <div class="container-admin-file">
                <label for="image">Agregar imagen</label>
                <input type="file" name="image" id="image">
            </div>
            <div class="finalizar-registro">
                <button type="submit">AGREGAR PRODUCTO</button>
            </div>

        </form>
    </section>

</body>
</html>