<header class="header-home">
    <div class="header-top">
        <div class="logo">
            <a href="/"><img src="images/logoFinal.png" alt="logo"></a>
        </div>
        <form action="" method="">
            <input id="barra" type="search" placeholder="  Buscar...">
            <button id="lupa"><i id="lupa" class="fas fa-search"></i></button>
        </form>
        <nav class="menu-home1">
            <ul>
                <li id="ingresa"><a href="/login">Ingresá</a></li><a href="/login"><i id="user" class="fa-regular fa-circle-user"></i></a>
                <li><a href="/carrito"><i id="carrito" class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <button id="boton-menu" for="menu"><i class="fa-solid fa-bars"></i></button>
        <nav id="menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/catalogo">Catálogo</a></li>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/carrito">Carrito</a></li>
                <li><a href="/quienessomos">¿Quiénes somos?</a></li>
            </ul>
        </nav>
        </div>
        <div class="menu-home3container">
            <nav class="menu-home3">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/catalogo">Catálogo</a></li>
                    <li><a href="/ofertas">Ofertas</a></li>
                    <li><a href="/quienessomos">¿Quiénes somos?</a></li>
                </ul>
            </nav>
        </div>
</header>