<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head-admin')  %>
<body class="form-add-category">
    <%- include('../../partials/header-admin') %> 
    <section class="section-admin">
        <h2 class="admin">Agregar Nueva Categoría</h2>
        <form action="/admin/categorias" method="post" class="form-admin">
            <div class="container-admin">
                <label for="name">Nombre de la categoría:</label>
                <input type="text" class="admin-style" name="name" id="name">
                <% if (locals.errors && errors.name) { %>
                    <span class="error-msg"><%= errors.name.msg  %></span>
                <% } %>
            </div>
            <div class="finalizar-registro">
                <button type="submit">AGREGAR CATEGORÍA</button>
            </div>
        </form>
    </section>
    <%- include("../../partials/scripts.ejs") %> 
</body>
</html>