<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>


<body class="catalogo">
    <%- include("../partials/header.ejs") %>
    <main class="main-catalogo">
        <h3 class="titulo-catalogo">Catálogo Frutas</h3>
        <hr class="hr-separacion">
        
        <section class="frutas-section">
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/pera.png" alt="imagen pera"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Pera</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$220</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/uva.png" alt="imagen uva"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Uva</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$330</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Kiwi.png" alt="imagen kiwi"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Kiwi</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$749</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Manzana.png" alt="imagen manzana"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Manzana Roja</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$240</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Naranja.png" alt="imagen naranja"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Naranja</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$210</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Banana.png" alt="imagen banana"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Banana</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$280</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Durazno.png" alt="imagen durazno"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Durazno</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$290</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Ananá.png" alt="imagen anana"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Ananá</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$390</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Mango.png" alt="imagen mango"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Mango</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$460</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Frutilla.png" alt="imagen frutilla"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Frutilla</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$480</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Sandia.png" alt="imagen sandia"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Sandía</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$390</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Sandia.png" alt="imagen sandia"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Sandía</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$390</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
        </section>
        
        <h3 class="titulo-catalogo">Catálogo Verduras</h3>
        <hr class="hr-separacion">

        <section class="frutas-section">
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Lechuga.png" alt="imagen lechuga"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Lechuga</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$520</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Tomate.png" alt="imagen tomate"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Tomate</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$390</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Repollo.png" alt="imagen repollo"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Repollo</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$520</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Acelga.png" alt="imagen acelga"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Acelga</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$200</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Anco.png" alt="imagen zapalloanco"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Zapallo</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$230</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Zanahoria.png" alt="imagen zanahoria"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Zanahoria</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$250</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Cebolla.png" alt="imagen cebolla"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Cebolla</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$130</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Limon.png" alt="imagen limon"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Limón</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$240</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Papa.png" alt="imagen papa"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Papa</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$120</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Zapallo.png" alt="imagen zapallo"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Zapallo</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$200</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Zapallo.png" alt="imagen zapallo"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Zapallo</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$200</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="productos-catalogo">
                <div class="foto-catalogo">
                    <a href="#"><img width="100%" src="images/Zapallo.png" alt="imagen zapallo"></a><!-- image a photo -->
                </div>
                <article class="detalles-catalogo">
                    <p>Zapallo</p>
                    <p>Precio por kg</p>
                    <p class="precio-catalogo">$200</p>
                    <button class="add-button">
                        <a href="#"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
        </section>
    </main>
    <%- include("../partials/footer.ejs") %> 
    <%- include("../partials/scripts.ejs") %> 
</body>
</html>