<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="images/logo.png" width="100%" type="image/x-icon">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Six Apples</title>
        <!-- Styles sheets -->
        <link rel="stylesheet" href="css/admin.css">       
        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">    
        <!-- Fontawesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
<body class="administracion">
    <header class="header-home">
        <div class="header-top">
            <div class="logo">
                <a href="/"><img src="images/logoFinal.png" alt="logo"></a>
            </div>
            <form action="" method="">
                <input id="barra" type="search" placeholder="  Buscar...">
                <button id="lupa"><i id="lupa" class="fas fa-search"></i></button>
            </form>
            <nav class="menu-home1">
                <ul>
                    <li id="ingresa"><a href="/login">Ingresá</a></li><a href="/login"><i id="user" class="fa-regular fa-circle-user"></i></a>
                    <li><a href="/carrito"><i id="carrito" class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
            <button id="boton-menu" for="menu"><i class="fa-solid fa-bars"></i></button>
            <nav id="menu">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/catalogo">Catálogo</a></li>
                    <li><a href="/ofertas">Ofertas</a></li>
                    <li><a href="/carrito">Carrito</a></li>
                    <li><a href="/quienessomos">¿Quiénes somos?</a></li>
                </ul>
            </nav>
            </div>
            <div class="menu-home3container">
                <nav class="menu-home3">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/catalogo">Catálogo</a></li>
                        <li><a href="/ofertas">Ofertas</a></li>
                        <li><a href="/quienessomos">¿Quiénes somos?</a></li>
                    </ul>
                </nav>
            </div>
    </header>
    <section class="section-admin">
        <h2 class="admin">Registro del Nuevo Producto</h2>

        <form action="" method="" class="form-admin">
            <div class="container-admin">
                <label for="categoria">Categoría:</label>
                <input type="text" class="admin-style" name="categoria" id="categoria">
            </div>
            <div class="container-admin">
                <label for="nombre-producto">Nombre del producto:</label>
                <input type="text" class="admin-style" name="nombre-producto" id="nombre-producto">
            </div>
            <div class="container-admin">
                <label for="tipo">Tipo:</label>
                <input type="text" class="admin-style" name="tipo" id="tipo">
            </div>
            <div class="container-admin">
                <label for="precio">Precio:</label>
                <input type="number" class="admin-style" name="precio" id="precio">
            </div>
            <div class="container-admin">
                <label for="descripcion">Descripción del Producto:</label>
                <textarea name="descripcion" class="admin-style" id="descripcion" cols="30" rows="10"></textarea>
            </div>
            <div class="container-admin-file">
                <label for="image-prod">Agregar imagen</label>
                <input type="file" name="image-prod" id="image-prod">
            </div>
            <div class="finalizar-registro">
                <button type="submit">FINALIZAR REGISTRO</button>
            </div>

        </form>
    </section>

    <footer class="footer-homepage">
        <div id="logo-footer">
            <a href="/"><img src="images/logoFooter.png" alt="logoFooter"></a> 
        </div>
        <div>
            <nav class="data-footer">
                <a class="wp" href="https://api.whatsapp.com/send?phone=15151515" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a class="telefono" href="tel: 15151515" target="_blank"><i class="fa-solid fa-phone"></i></a>
                <a class="twitter-timeline" href="https://twitter.com/pensandoenweb" data-widget-id="302069386464870402"><i class="fa-brands fa-twitter"></i></a> <!-- me lleva a un twitter aleatorio -->
                <p class="copyright">Copyright © 1999-2022 Six Apples S.R.L. <br> Av. Monroe 840, Piso 2, CP 1428, Belgrano CABA</p>
            </nav>
        </div>
        <hr class="hr-footer">
        <section class="section-footer">
            <nav class="navegacion-footer">
                <ul class="list-footer">
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Protección de datos personales</a></li>
                </ul>
                <ul class="list-footer">
                    <li><a href="#">Defensa del consumidor</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>         
            <div class="image-bottom">
                <img id="imagen" src="images/SAfooter.png" alt="SAfooter">   
                <p class="ultimo-texto">© Six Apples 2022</p>
            </div>
        </section>
    </footer>
</body>
</html>