<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="images/logo.png" width="100%" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Six Apples</title>
    <!-- Styles sheets -->
    <link rel="stylesheet" href="css/home.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">    
    <!-- Fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body class="homepage">
    <header class="header-home">
        <div class="header-top">
            <div class="logo">
                <a href="/"><img src="images/logoFinal.png" alt="logo"></a>
            </div>
            <form action="" method="">
                <input id="barra" type="search" placeholder="  Buscar...">
                <button id="lupa"><i id="lupa" class="fas fa-search"></i></button>
            </form>
            <nav class="menu-home1">
                <ul>
                    <li id="ingresa"><a href="/login">Ingresá</a></li><a href="/login"><i id="user" class="fa-regular fa-circle-user"></i></a>
                    <li><a href="/carrito"><i id="carrito" class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
            <button id="boton-menu" for="menu"><i class="fa-solid fa-bars"></i></button>
            <nav id="menu">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/catalogo">Catálogo</a></li>
                    <li><a href="/ofertas">Ofertas</a></li>
                    <li><a href="/carrito">Carrito</a></li>
                    <li><a href="/quienessomos">¿Quiénes somos?</a></li>
                </ul>
            </nav>
            </div>
            <div class="menu-home3container">
                <nav class="menu-home3">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/catalogo">Catálogo</a></li>
                        <li><a href="/ofertas">Ofertas</a></li>
                        <li><a href="/quienessomos">¿Quiénes somos?</a></li>
                    </ul>
                </nav>
            </div>
    </header>
    <main class="main-homepage">
        <!-- Carrusel -->
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="images/banner1.png" style="width:100%">
            </div>
            <div class="mySlides fade">
                <img src="images/banner2.png" style="width:100%">
            </div>
            <div class="mySlides fade">
                <img src="images/banner3.png" style="width:100%">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a> <!-- codigo decimal de icono -->
            <a class="next" onclick="plusSlides(1)">&#10095;</a> <!-- codigo decimal de icono -->
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
        </div>
        <h3 id="titulo">Nuestros Bolsones</h3>
        <section class="bolsones">
            <article class="producto">
                <div class="contenedor-foto">
                    <a href="#"><img width="100%" src="images/oferta1.jpeg" alt="ofertaNaranjas"></a>  <!-- si toco la foto veria el detalle de producto -->
                </div>
                <button class="boton-ofertas">
                    <h4>COMPRAR</h4>
                </button>
                <article class="detalles">
                    <p>Bolson familiar (8kg)</p>
                    <p class="precio">$1.600</p> 
                    <div class="opciones">
                      <p>Elegir cantidad</p>
                      <button id="cantidad">1</button>
                      <button id="cantidad">2</button>
                      <button id="cantidad">3</button>
                    </article>
                </div>
            </article>
            <article class="producto">
                <div class="contenedor-foto">
                    <a href="#"><img width="100%" src="images/oferta2.jpeg" alt="ofertaZahahoria"></a>
                </div>
                <button class="boton-ofertas">
                    <h4>COMPRAR</h4>
                </button>
                <article class="detalles">
                    <p>Bolson familiar (8kg)</p>
                    <p class="precio">$1.600</p>
                    <div class="opciones">
                        <p>Elegir cantidad</p>
                        <button id="cantidad">1</button>
                        <button id="cantidad">2</button>
                        <button id="cantidad">3</button>
                    </div>
                </article>
            </article>
            <article class="producto none-oferta">
                <div class="contenedor-foto">
                    <a href="#"><img width="100%" src="images/oferta3.jpeg" alt="ofertaZahahoria"></a>
                </div>
                <button class="boton-ofertas">
                    <h4>COMPRAR</h4>
                </button>
                <article class="detalles">
                    <p>Bolson familiar (8kg)</p>
                    <p class="precio">$1.600</p>
                    <div class="opciones">
                        <p>Elegir cantidad</p>
                        <button id="cantidad">1</button>
                        <button id="cantidad">2</button>
                        <button id="cantidad">3</button>
                    </div>
                </article>
            </article>
        </section>
        <hr>
        <section id="informacion">
            <article>
                <img src="images/enviogratis.jpg" alt="imagen de camion"> <!-- image or icon -->
                <h4>Envíos Gratis</h4>
                <p>Hace tu pedido y te lo llevamos sin cargo (con tu compra mayor a $5000). En CABA y GBA.</p>
            </article>
            <article>
                <img src="images/puntosderetiro.jpg" alt="imagen de retiros"> <!-- image or icon -->
                <h4>Más de 30 puntos de retiro</h4>
                <p>Contamos con Puntos de Retiro en todo CABA y GBA. Hacé tu pedido en nuestra tienda y retiralo por tu sucursal más cercana.</p>
            </article>
            <article id="cultivo-fresco">
                <img src="images/cultivosfrescos.jpg" alt="imagen cultivos frescos"> <!-- image or icon -->
                <h4>Cultivos 100% frescos</h4>
                <p>Nuestro acuerdo directo con los productores, nos permite ofrecerte mercadería fresca y de primera calidad.</p>
            </article>
        </section>
        <hr>
        <h3 id="titulo">Destacados</h3>
        <section class="destacados">
            <article class="producto">
                <div class="contenedor-foto">
                    <a href="/detallesProductos"><img width="100%" src="images/Durazno.png" alt="imagen durazno"></a><!-- image a photo -->
                </div>
                <article class="detalles">
                    <p>Durazno</p>
                    <p>Precio por kg</p>
                    <p class="precio">$290</p>
                    <button class="boton-agregar">
                        <a href="/carrito"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="producto">
                <div class="contenedor-foto">
                    <a href="/detallesProductos"><img width="100%" src="images/Uva.png" alt="imagen uva"></a><!-- image a photo -->
                </div>
                <article class="detalles">
                    <p>Uva</p>
                    <p>Precio por kg</p>
                    <p class="precio">$330</p>
                    <button class="boton-agregar">
                        <a href="/carrito"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="producto none"> <!-- producto que no aparece en phone -->
                <div class="contenedor-foto">
                    <a href="/detallesProductos"><img width="100%" src="images/Lechuga.png" alt="imagen lechuga"></a><!-- image a photo -->
                </div>
                <article class="detalles">
                    <p>Lechuga</p>
                    <p>Precio por kg</p>
                    <p class="precio">$520</p>
                    <button class="boton-agregar">
                        <a href="/carrito"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
            <article class="producto none1"> <!-- producto que no aparece en phone y tablet -->
                <div class="contenedor-foto">
                    <a href="/detallesProductos"><img width="100%" src="images/Kiwi.png" alt="imagen kiwi"></a><!-- image a photo -->
                </div>
                <article class="detalles">
                    <p>Kiwi</p>
                    <p>Precio por kg</p>
                    <p class="precio">$749</p>
                    <button class="boton-agregar">
                        <a href="/carrito"><p class="add">Agregar al carrito</p></a>
                    </button>
                </article>
            </article>
        </section>
    </main>
    <footer class="footer-homepage">
        <div id="logo-footer">
            <a href="/"><img src="images/logoFooter.png" alt="logoFooter"></a> 
        </div>
        <div>
            <nav class="data-footer">
                <a class="wp" href="https://api.whatsapp.com/send?phone=15151515" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a class="telefono" href="tel: 15151515" target="_blank"><i class="fa-solid fa-phone"></i></a>
                <a class="twitter-timeline" href="https://twitter.com/pensandoenweb" data-widget-id="302069386464870402"><i class="fa-brands fa-twitter"></i></a> <!-- me lleva a un twitter aleatorio -->
                <p class="copyright">Copyright © 1999-2022 Six Apples S.R.L. <br> Av. Monroe 840, Piso 2, CP 1428, Belgrano CABA</p>
            </nav>
        </div>
        <hr class="hr-footer">
        <section class="section-footer">
            <nav class="navegacion-footer">
                <ul class="list-footer">
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Protección de datos personales</a></li>
                </ul>
                <ul class="list-footer">
                    <li><a href="#">Defensa del consumidor</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>         
            <div class="image-bottom">
                <img id="imagen" src="images/SAfooter.png" alt="SAfooter">   
                <p class="ultimo-texto">© Six Apples 2022</p>
            </div>
        </section>
    </footer>
    <!-- script menu -->
    <script src="javascript/burger.js"></script>
    <!-- script carrusel -->
    <script src="javascript/carrusel.js"></script>
</body>
</html>