<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/register-login.css">
    <title>Ingresá</title>
</head>
<body class="login">
    <section class="login-section"> 
        <h2 class="login"> Ingresá</h2>
        <br>
        <form action="" method="">
            <div class="input-container">
                <input type="email" class="input-style" name="email" placeholder="Correo Electronico">
            </div>
            <div class="input-container">
                <input type="password" class="input-style" name="pass" placeholder="Contraseña">
            </div>
            <div>
                <button type="submit" class="btn-submit"> Continuar</button>
            </div>
            <br>
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
            <br>
            <span>¿No tienes una cuenta? <span><a href="">Registrate</a></span>
        </form>
    </section>
    
</body>
</html>