<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>

<body class="body-ofertas">
    <%- include("partials/header.ejs") %>
    <main class="main-ofertas">
        <h3 class="titulo-ofertas">Ofertas Bolsones</h3>
        <section class="ofertas">
        <article class="producto-oferta">
            <div class="contenedor-oferta">
                <a href="#"><img width="100%" src="images/oferta1.jpeg" alt="ofertaNaranjas"></a>  <!-- si toco la foto veria el detalle de producto -->
            </div>
            <article class="detalles">
                <p>Bolson familiar (8kg)</p>
                <p class="precio"><strong>$1.600</strong></p> 
                <p>Precio unitario: $210</p>
            </article>
            <button class="boton-ofertas"><h4>Agregar al carrito</h4></button>
            </div>
        </article>
        <article class="producto-oferta">
            <div class="contenedor-oferta">
                <a href="#"><img width="100%" src="images/oferta2.jpeg" alt="ofertaZanahoria"></a>  <!-- si toco la foto veria el detalle de producto -->
            </div>
            <article class="detalles">
                <p>Bolson familiar (8kg)</p>
                <p class="precio"><strong>$1.600</strong></p> 
                <p>Precio unitario: $210</p>
            </article>
            <button class="boton-ofertas"><h4>Agregar al carrito</h4></button>
            </div>
        </article>
        <article class="producto-oferta">
            <div class="contenedor-oferta">
                <a href="#"><img width="100%" src="images/oferta3.jpeg" alt="ofertaChoclo"></a>  <!-- si toco la foto veria el detalle de producto -->
            </div>
            <article class="detalles">
                <p>Bolson familiar (8kg)</p>
                <p class="precio"><strong>$1.600</strong></p> 
                <p>Precio unitario: $210</p>
            </article>
            <button class="boton-ofertas"><h4>Agregar al carrito</h4></button>
            </div>
        </article>
        <article class="producto-oferta">
            <div class="contenedor-oferta">
                <a href="#"><img width="100%" src="images/oferta4.jpeg" alt="ofertaLechuga"></a>  <!-- si toco la foto veria el detalle de producto -->
            </div>
            <article class="detalles">
                <p>Bolson familiar (8kg)</p>
                <p class="precio"><strong>$1.600</strong></p> 
                <p>Precio unitario: $210</p>
            </article>
            <button class="boton-ofertas"><h4>Agregar al carrito</h4></button>
            </div>
        </article>
        <article class="producto-oferta">
            <div class="contenedor-oferta">
                <a href="#"><img width="100%" src="images/oferta4.jpeg" alt="ofertaLechuga"></a>  <!-- si toco la foto veria el detalle de producto -->
            </div>
            <article class="detalles">
                <p>Bolson familiar (8kg)</p>
                <p class="precio"><strong>$1.600</strong></p> 
                <p>Precio unitario: $210</p>
            </article>
            <button class="boton-ofertas"><h4>Agregar al carrito</h4></button>
            </div>
        </article>
        <article class="producto-oferta">
            <div class="contenedor-oferta">
                <a href="#"><img width="100%" src="images/oferta4.jpeg" alt="ofertaLechuga"></a>  <!-- si toco la foto veria el detalle de producto -->
            </div>
            <article class="detalles">
                <p>Bolson familiar (8kg)</p>
                <p class="precio"><strong>$1.600</strong></p> 
                <p>Precio unitario: $210</p>
            </article>
            <button class="boton-ofertas"><h4>Agregar al carrito</h4></button>
            </div>
        </article>
    </section>
    </main>
    <%- include("partials/footer.ejs") %> 
    <%- include("partials/scripts.ejs") %> 
</body>
</html>