<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/register-login.css">
    <title>Registrate</title>
</head>
<body class="registro">
    <section class="registro-section">
        <h2 class="registro">Registrate</h2>
        <br>
        <form action="" method="">
            <div class="input-container">
                <input type="text" class="input-style" name="name" placeholder="Nombre Completo">
            </div>
            <div class="input-container">
                <input type="email" class="input-style" name="email" placeholder="Correo Electrónico">
            </div>
            <div class="input-container">
                <input type="password" class="input-style" name="pass" placeholder="Contraseña">
            </div>
            <div class="btn-container">
                <button type="submit" class="btn-submit"> Continuar </button>
            </div>
            <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
            <span>¿Ya tienes una cuenta? <span><a href="">Iniciar Seccion</a></span></span>
        </form>
    </section>
</body>
</html>