@import url(home.css);

:root {
    /* COLORES */
    --color-verdeClaro: #dfffbe;
    --color-verdeOscuro: #92c88a;
    /* FUENTES */
    --font-poppins: 'Poppins', sans-serif;
    /* TAMAÑOS DE FUENTES */
    --title: 16px;
    --paragraph: 14px;  /* valor en rem? */
    --precios: 18px;
    --otrasDescripciones: 16px;
}

/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.error404 {
    background-image: url('/images/Come-frutas-y-verduras1.png'); 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

body.error404 section p {
    font-size: 20px;
    color:black; 
}

body.error404 section.error404-section{
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    width:30%; 
    margin: 209px auto;
    display:flex;
    justify-content: center;
}

section.error404-section {
    opacity: 80%;
}

.btn-submit-error{
    text-align: center;
    border: none;
    border-radius: 1rem;
    display:flex;
    justify-content: center;
    height: 2.5rem;
    text-transform: uppercase;
    width: 8rem;
    cursor: pointer;
    margin: 0.8rem  0;
    background-color: var(--color-verdeOscuro);
    align-items: center;
    margin-left: auto; 
    margin-right:auto; 
}



