@import url(home.css);

:root {
    /* COLORES */
    --color-verdeClaro: #dfffbe;
    --color-verdeOscuro: #92c88a;
    /* FUENTES */
    --font-poppins: 'Poppins', sans-serif;
    /* TAMAÑOS DE FUENTES */
    --title: 16px;
    --paragraph: 14px;  /* valor en rem? */
    --precios: 18px;
    --otrasDescripciones: 16px;
}

/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.error404 {
    background-image: url('/images/Come-frutas-y-verduras1.png'); 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

body.error404 section p {
    font-size: 20px;
    color:black; 
    text-align: center;
}

body.error404 section.error404-section{
    border-radius: 10px;
    padding: 0.9rem;
    background-color: white;
    width:71%; 
    margin: 100px auto;
}

section.error404-section {
    opacity: 80%;
}

.btn-submit-error{
    border-radius: 10px;
    padding: 1.5rem;
    background-color: var(--color-verdeOscuro);
    width: 120px;
    height: 1.5rem;
    margin: 50px auto;
    display: flex;
    border: none;
    text-transform: uppercase;
    text-align: center;
    cursor:pointer;
    align-items: center;
    font-size: 12px;
}


/* Media querys Tablet */
@media(min-width: 720px){

    body.error404 section p {
        font-size: 26px;
        text-align: center;
    }
    
    body.error404 section.error404-section{
        border-radius: 20px;
        padding: 1rem;
        width:80%; 
        margin: 120px auto;
    }
    
    .btn-submit-error{
        border-radius: 10px;
        padding: 1.5rem;
        width: 30%;
        height: 1.6rem;
        margin: 50px auto;
        display: flex;
        border: none;
        text-transform: uppercase;
        text-align: center;
        cursor:pointer;
        align-items: center;
        font-size: 12px;
        justify-content: center;
    }
}

/* Media Querys Version Escritorio */
@media(min-width: 1020px){
    body.error404 section p {
        font-size: 30px;
        text-align: center;
    }
    
    body.error404 section.error404-section{
        border-radius: 20px;
        padding: 1rem;
        width:50%; 
        margin: 150px auto;
    }
    
    .btn-submit-error{
        border-radius: 10px;
        padding: 1.6rem;
        width: 40%;
        height: 2.6rem;
        margin: 50px auto;
        display: flex;
        border: none;
        text-transform: uppercase;
        text-align: center;
        cursor:pointer;
        align-items: center;
        font-size: 18px;
        justify-content: center;
    }
}
