/* header admin */
body.administracion header.header-admin {
    background-color: var(--color-verdeClaro);
    width: 100%;
    font-size: 12px;
}

header.header-admin div.logo-admin img {
    width: 35%; 
    object-fit: contain; 
}

header.header-admin form input{
    display: none;
}
header.header-admin form button#lupa{
    border: none;
    background-color: var(--color-verdeClaro);

}
header.header-admin div.container-logo-lupa{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header.header-admin nav.nav-admin ul{
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

