/* header admin */
@import url(admin.css); 
header.header-admin {
    background-color: #dfffbe;
    width: 100%;
    font-size: 12px;
}

header.header-admin div.logo-admin img {
    width: 35%; 
    object-fit: contain; 
}
header.header-admin form {
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    width: 80px;
}

header.header-admin form input{
     display: inline-block;
     width: 40px;
     outline: none;
     border:none;
     border-radius: 12px;
}

::placeholder{
    font-size: 12px;
}

header.header-admin form button#lupa{
    border: none;
    background-color: rgba(240, 248, 255, 0);
    font-size: 12px;
}

header.header-admin div.container-logo-lupa{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header.header-admin div.avatar-admin{
    border-radius: 50%;
    background-color: lightgrey;
    width: 22px;
    height: 22px;
    margin: 0 10px;
}

header.header-admin div.avatar-admin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

header.header-admin button{
    border: none;
    font-size: 1rem;
    background-color: #dfffbe ;
    margin-right: 5px;
}

header.header-admin nav#menu {
    display: none;
    padding: 1rem;
    background-color: #dfffbe;
    text-align: center;
    border-radius: 10px;
    position:absolute; 
    top:66px;
    right:-100%;
    z-index: 10;
    width: 100%;
}
header.header-admin nav#menu ul li:hover{
    font-weight: 600;
}

@keyframes fade-in{
    0%{
        right: -100%;
        opacity: 0;
    }
    100%{
        right:0;
        opacity: 1;
    }
}

header.header-admin nav#menu.active {
    display:block;
    opacity: 1;
    animation: fade-in 2s;
    right:0;
}


header.header-admin div.menu-desktop{
    display: none;
}

@media(min-width: 1100px){
    header.header-admin nav.nav-admin ul{
        max-width: 700px;
        font-size: 14px;
    }

    header.header-admin button#boton-menu{
        display: none;
    }

    header.header-admin div.menu-desktop{
        display: block;
    }

    header.header-admin div.menu-desktop nav.menu-admin2 ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1200px;
    }

    header.header-admin div.avatar-admin{
        width: 40px;
        height: 40px;
    }
}

