@import url(header-admin.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

div.conteiner-admin{
    width: 80%;
    margin: 30px auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    max-width: 400px; 
}

div.titulos {
    text-align: center;
}


section.admin-lista nav ul {
    padding: 7px;
    text-align: center;
    margin: 5px;
}

section.admin-lista nav ul li {
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
}