@import url(home.css);

:root {
    /* COLORES */
    --color-verdeClaro: #dfffbe;
    --color-verdeOscuro: #92c88a;
    /* FUENTES */
    --font-poppins: 'Poppins', sans-serif;
    /* TAMAÑOS DE FUENTES */
    --title: 16px;
    --paragraph: 14px;  /* valor en rem? */
    --precios: 18px;
    --otrasDescripciones: 16px;
}

/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.body-detalles {
    font-family: var(--font-poppins);

}
main.producto-detalle {
    padding: 15px 10px 0;
   
}

body.body-detalles a{
    color:black;
    text-decoration: none;
}

body.body-detalles ul {
    list-style: none; /* para sacar las viñetas */
    font-size: var(--paragraph);
}

/* Main */

/* CAJA 1  */
.caja1{
    border: 1px solid #8A8A8A;
    margin: 25px 15px 0 15px;
    border-radius: 2px;
    /* box-shadow: 5px 5px 5px 0  #8A8A8A  ; */
    box-shadow: 5px 5px 5px 0px rgba(138,138,138,0.5);
}

 div.caja1 .imagen-detalle{
    margin: 15px;
    border: 1px rgb(138, 138, 138)  solid;
    border-radius: 2px;
    text-align: center;
} 

div.caja1 .imagen-detalle img{
    width: 80%;
}

div.caja1 .texto-detalle{
    margin: 30px 0px;
    padding-left: 15px;
    font-family: var(--font-poppins);
}
div.caja1 .texto-detalle p{
    padding: 4px 0px;
    font-size:var(--paragraph)
}

body.body-detalles .productNumber {
    text-align: center;
    margin-top: 1rem;
    font-size: 17px;
    
}
body.body-detalles .counter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 200px ;
}
div.caja1 .botones-detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

div.caja1 .botones-detalle button{
    height: 39px;
    width: 250px;
    border: none;
    display: block;
    border-radius: 20px;
    margin: 8px 0px ;
    background-color: #C4C4C4;
    font-size: var(--title);
}

/* CAJA 2 */

.producto-caja2-detalle{
    margin: 15px;
}

.producto-detalle{
    margin: 15px;
    border: 1px rgb(186, 173, 173)  solid;
    border-radius: 5px;
}

.contenedor-foto-detalle{
    border-bottom:  2px rgb(224, 222, 222)   solid;
    border-radius: 1px;
    text-align: center;
}

.contenedor-foto-detalle img{
    padding: 5px;
    width: 80%;
}

article.detalles-producto{
    padding: 10px 0px 15px 16px;
}

div.preboton{
    display: flex;
    justify-content: center;
}

article.detalles-producto button.boton-agregarDetalle{
    height: 39px;
    width: 169px;
    border: none;
    border-radius: 20px;
    background-color: #C4C4C4;
    margin-top: 20px;
    
    
}

article.detalles-producto button.boton-agregarDetalle p.add{
    font-size:15px;
    font-weight: lighter;

}

div.titulo-caja2{
    margin:55px 30px 25px 30px;
}

/* TABLET */
@media (min-width:768px){
/* MAIN */

.caja1{
    max-width: 730px;
    margin:30px auto;
    display: flex;
    flex-direction: column;
}

div.caja1 .imagen-detalle {
    text-align: center;
    margin:35px;
}

div.caja1 .imagen-detalle img{
    width: 85%;
    object-fit: contain;
}

div.caja1 .texto-detalle{
    padding-left: 30px;
    font-family: var(--font-poppins);
}

div.caja1 .texto-detalle p{
    font-size:22px;
}

div.caja1 .texto-detalle h3{
    font-size: 29px;
}

div.caja1 .botones-detalle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

div.caja1 .botones-detalle button{
    
    height: 45px;
    width: 300px;
    border: none;
    border-radius: 20px;
    margin: 8px 0px ;
    background-color: #C4C4C4;
    font-size: 20px;
}

/* CAJA 2 */

.producto-caja2-detalle{
    max-width: 730px;
    margin:20px auto;
    display: flex;
    flex-wrap: wrap;
}

.producto-detalle{
    width: 320px;
    margin: 0px 0px 40px 25px;
    border: 1px rgb(186, 173, 173)  solid;
    border-radius: 3px;
}

.contenedor-foto-detalle img{
    padding: 20px;
}

article.detalles-producto{
    padding: 10px 0px 15px 16px;
    font-size: 22px;
}

div.titulo-caja2{
    max-width: 730px;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

/* END MAIN*/
}

/* DESKTOP VERSION */

@media (min-width: 1020px){
/*MAIN */

.caja1{
    max-width: 1060px;
    margin:50px auto;
    display: flex;
    flex-wrap: wrap;
    height: 520px;
    justify-content: center;
}

div.caja1 .imagen-detalle{
    width: 600px;
    height: 518px;
    border-radius: 0px;
    border: none;
    margin: 0 auto;
}

div.caja1 .imagen-detalle img{
    width: 600px;
    height: 518px;
    padding: 2px;
    object-fit: contain;
    border-right: 1px solid black;
}

div.caja1 .texto-detalle{
    margin: 0px;
    font-family: var(--font-poppins);
}
div.caja1 .texto-detalle p{
    font-size:25px;
}
div.caja1 .texto-detalle h3{
    font-size: 32px;
}

div.caja1 .botones-detalle{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px 0px 20px ;
}

body.body-detalles .productNumber {
    margin-top: 3rem;   
}

div.caja1 .botones-detalle button{
    height: 45px;
    width: 160px;
    border: none;
    border-radius: 20px;
    margin: 8px 4px ;
    background-color: #C4C4C4;
    font-size: 17px;
}

/* CAJA 2 */

.producto-caja2-detalle{
    max-width: 1080px;
    margin:1px  auto;
    display: flex;
    flex-wrap: nowrap;
}

.producto-detalle{
    width: 500px;
    margin: 0px 0px 40px 25px;
    border: 1px rgb(186, 173, 173)  solid;
    border-radius: 3px;
}

.contenedor-foto-detalle img{
    padding: 20px;
}

article.detalles-producto{
    padding: 10px 0px 15px 16px;
    font-size: 22px;
}

article.detalles-producto button.boton-agregar{
    height: 45px;
    width: 160px;
    border: none;
    border-radius: 20px;
    margin-left:25px;
    background-color: #C4C4C4;
    font-size: 20px;
}

article.detalles-producto button.boton-agregar p.add{
    font-size:17px;
    font-weight: lighter;
}

div.titulo-caja2{
    max-width: 730px;
    padding-top: 60px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    padding-bottom: 40px;
}

/* CAJA 2 */ 

/* END MAIN*/

}
