<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body class="proteccion"> 
        <%- include("../partials/header.ejs") %>
        <section class="proteccion">
            <h2 class="proteccion">Protección de datos personales</h2>
            <form action="" method=""> 
                <h6 class="H1">¿Qué son los Datos Personales?</h6>
                <p class="p1">Dato Personal es toda información de cualquier tipo referida a personas físicas o de existencia
                    ideal.</p>
                <h6 class="H1">¿Qué ley protege a los Datos Personales y cuál es su objetivo?</h6>
                <p class="p1">La ley que protege a los Datos Personales es la N° 25.326. El objetivo principal de esta ley y su
                    normativa complementaria, es la protección integral de los datos personales asentados en archivos,
                    registros, bancos de datos u otros mecanismos técnicos de tratamiento de datos, sean estos datos
                    públicos o privados, otorgando protección a las personas sobre su derecho al honor y a la intimidad,
                    así como también garantizar el acceso a la información que sobre las mismas se registre, de
                    conformidad a lo establecido en el artículo 43, párrafo tercero de la Constitución Nacional.</p>
                <h6 class="H1">¿Cómo Arcos Dorados Argentina S.A. pone en práctica esta normativa?</h6>
                <p class="p1">En cumplimiento a lo normado en el Art. 6 de la Ley 25.326, cuando recabamos datos personales de las
                    personas informamos previamente a sus titulares la finalidad para la que serán tratados dichos datos
                    y quiénes pueden ser sus destinatarios o clase de destinatarios. Asimismo comunicaremos al titular
                    del dato la existencia del archivo, registro, banco de datos, electrónico o de cualquier otro tipo,
                    de que se trate y la identidad y domicilio del responsable y definiremos el carácter obligatorio o
                    facultativo de las respuestas al cuestionario que se le proponga, en especial cuando se trate de
                    datos sensibles. Además pondremos en su conocimiento las consecuencias de proporcionar los datos, de
                    la negativa a hacerlo o de la inexactitud de los mismos. Igualmente avisaremos al titular de los
                    datos la posibilidad de ejercer sus derechos, que consiste en el acceso, rectificación y supresión
                    de los datos.</p>
            </form>
        </section>    
            <%- include("../partials/footer.ejs") %>
                <%- include("../partials/scripts.ejs") %>
    </body>

</html>