<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <h2>Política de privacidad</h2>
        <p>Six Apples se complace en proveer información a todos sus clientes sobre su página de Internet. Queremos hacer nuestra página lo más útil posible, mientras respetamos su privacidad. Siéntase seguro que Six Apples hace el mayor esfuerzo por proteger la privacidad de quién nos visita en la red. Six Apples usa "cookies" (piezas de información que una página almacena en un navegador o dispositivo para guardar los registros de visita de su usuario) sólo para obtener información impersonal con el objetivo de mejorar tu experiencia en línea. Por ejemplo, como la mayoría de las páginas en la red, nosotros llevamos un registro del número de personas que visitan nuestra página de una forma anónima. Nosotros no asociamos la información del "cookie" con información personal. Para configurar o desactivar las cookies, se puede acceder al panel de configuración correspondiente a su navegador web.  Tenga presente que, si bloquea la instalación de cookies, es posible que no pueda acceder total o parcialmente a la App o a algunas de sus funcionalidades.</p>
        <p>Six Apples solo recolecta información identificable, como el nombre y apellido, direcciones y dirección de e-mail únicamente cuando éstas son sometidas voluntariamente por las personas que visitan la página. Por ejemplo, información identificable puede solicitarse a fin de responder una solicitud de información y para recibir su opinión sobre nuestra página o productos o para inscribirte a uno de nuestros concursos o promociones. Esta información es utilizada exclusivamente por Six Apples y puede ser utilizada sólo internamente, para mejorar la página o cumplir con tus peticiones. La información no es vendida ni transferida a terceros. Six Apples no envía emails no solicitados. Sin embargo, responde a emails recibidos.</p>
        <p>Podemos ofrecer links a otras páginas. Si visitas una de estas páginas, deberías revisar sus políticas de privacidad y otras políticas. No nos hacemos responsables por las políticas de otras compañías.</p>
        <p>Six Apples se reserva el derecho del uso o divulgación de cualquier información cuando ésta sea necesaria para satisfacer cualquier ley, regulación o requerimiento legal, para proteger la integridad de la página, para satisfacer requerimientos o para cooperar en el cumplimiento de la ley o cualquier investigación y asunto que corresponda a la seguridad pública.</p>
        <p>Six Apples es muy cuidadoso con todos los asuntos de privacidad. Estamos orgullosos del compromiso que hemos tenido con nuestros consumidores por todo este tiempo. Somos especialmente cuidadosos con cualquier tipo de comunicación que tengamos con nuestros atesorados clientes.</p>
        <p>Arcos Dorados S.A. 
Six Apples Política de Privacidad 
Roque Saenz Peña 432 
Olivos (1636) Pcia. de Buenos Aires
        </p>
    </main>
    <%- include("../partials/footer.ejs") %> 
    <%- include("../partials/scripts.ejs") %> 
</body>
</html>