<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body class="error404">
    <%- include("partials/header.ejs") %>
    <section>
       <p> HA OCURRIDO UN ERROR INESPERADO!! </p>  
    </section>
    
     <!--FOOTER-->
     <%- include("partials/footer.ejs") %> 
     <%- include("partials/scripts.ejs") %> 
</body>
</html>