<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body class="error404" >
    <%- include("partials/header.ejs") %>
    <section class="error404-section">
        <form action="">
            <div> 
                <p> ¡LA PÁGINA QUE SOLICITAS NO SE ENCUENTRA DISPONIBLE! </p> 
            </div>
             <div>
                <button type="submit" class="btn-submit-error"> Volver a Inicio </button> 
            </div>
        </form>
    </section>
    
     <!--FOOTER-->
     <%- include("partials/footer.ejs") %> 
     <%- include("partials/scripts.ejs") %> 
</body>
</html>