<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>

<body class="quienessomos">
    <%- include("partials/header.ejs") %>
    <div class="foto-quienes">
    <section class="quienessomos-section">
        <h1>¿Quiénes Somos?</h1>
        <br>
        <form action="" method="">
            <p class="parrafoPrin">
                Somos una familia que trabajamos en el rubro de las frutas & verduras hace más de 20 años dedicándonos a la venta de productos orgánicos y agroecológicos.
                Hoy queremos llegar directamente a cada hogar con alimentos naturales, frescos, libre de químicos y de primera calidad.
                Six Apples nos mantiene en el camino del crecimiento, con esfuerzo, trabajo y mucho amor propio por lo que hacemos.
                Muchas gracias por elegirnos.
                Familia Six Apples
            </p>
        </form>
    </section>
    </div>

     <!--FOOTER-->
    <%- include("partials/footer.ejs") %> 
    <%- include("partials/scripts.ejs") %> 
</body>
</html>