<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <h1>Tu Busqueda: <%= busqueda %> </h1>
        
        <h2>NO TENEMOS EL PRODUCTO QUE SOLICITASTE. INTENTÁ CON OTRO</h2>
    </main> 
    
</body>
</html>