<footer class="footer-homepage">
    <div id="logo-footer">
        <a href="/"><img src="/images/logoFooter.png" alt="logoFooter"></a> 
    </div>
    <div>
        <nav class="data-footer">
            <a class="wp" href="https://api.whatsapp.com/send?phone=15151515" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a class="telefono" href="tel: 15151515" target="_blank"><i class="fa-solid fa-phone"></i></a>
            <a class="twitter-timeline" href="https://twitter.com/pensandoenweb" data-widget-id="302069386464870402"><i class="fa-brands fa-twitter"></i></a> <!-- me lleva a un twitter aleatorio -->
            <p class="copyright">Copyright © 1999-2022 Six Apples S.R.L. <br> Av. Monroe 840, Piso 2, CP 1428, Belgrano CABA</p>
        </nav>
    </div>
    <hr class="hr-footer">
    <section class="section-footer">
        <nav class="navegacion-footer">
            <ul class="list-footer">
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Protección de datos personales</a></li>
            </ul>
            <ul class="list-footer">
                <li><a href="#">Defensa del consumidor</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>         
        <div class="image-bottom">
            <img id="imagen" src="/images/SAfooter.png" alt="SAfooter">   
            <p class="ultimo-texto">© Six Apples 2022</p>
        </div>
    </section>
</footer>