<header class="header-admin">
    <div class="container-logo-lupa">
    <div class="logo-admin">
        <a href="/admin"><img src="/images/logoFinal.png" alt="logo"></a>
    </div>
    <form action="" method="">
        <input id="barra" type="search" placeholder="  Buscar...">
        <button id="lupa"><i id="lupa" class="fas fa-search"></i></button>
    </form>
    <!-- image avatar -->
    <div class="avatar-admin"><img src="ejs" alt="perfil"></div>
    <button id="boton-menu" for="menu"><i class="fa-solid fa-bars"></i></button><!-- menu hamburgues -->
    <nav id="menu">
        <ul>
            <li><a href="/admin/productos/agregar">Agregar Producto</a></li>
            <li><a href="/admin/productos">Listado de Productos</a></li>
            <li><a href="/admin/categorias/agregar">Agregar Categorías</a></li>
            <li><a href="/admin/categorias">Listado de Categorías</a></li>
            <li><a href="#">Cerrar Sesión</a></li>
        </ul>
    </nav>
</div>
<div class="menu-desktop">
    <nav class="menu-admin2">
        <ul>
            <li><a href="/admin/productos/agregar">Agregar Producto</a></li>
                <li><a href="/admin/productos">Listado de Productos</a></li>
                <li><a href="/admin/categorias/agregar">Agregar Categorías</a></li>
                <li><a href="/admin/categorias">Listado de Categorías</a></li>
                <li><a href="#">Cerrar Sesión</a></li>
       </ul>
    </nav>
</div>
</header>

