<header class="header-admin">
    <div class="container-logo-lupa">
    <div class="logo-admin">
        <a href="/admin"><img src="/images/logoFinal.png" alt="logo"></a>
    </div>
    <form action="" method="">
        <input id="barra" type="search" placeholder="  Buscar...">
        <button id="lupa"><i id="lupa" class="fas fa-search"></i></button>
    </form>
</div>
    <nav class="nav-admin">
        <ul>
            <li><a href="/admin/productos/agregar">Agregar Producto</a></li>
            <li><a href="/admin/productos">Listado de Productos</a></li>
            <li><a href="#">Control de Ventas</a></li>
        </ul>
    </nav>
</header>