<header class="header-admin">
    <div class="container-logo-lupa">
    <div class="logo-admin">
        <a href="/admin"><img src="/images/logoFinal.png" alt="logo"></a>
    </div>
    <form action="/admin/search" method="GET" id="busqueda-admin">
        <input id="barra" type="search" placeholder="  Buscar..." name="search" >
        <button id="lupa" type="submit"><i id="lupa" class="fas fa-search"></i></button>
    </form>
    <div class="avatar-admin"><img src="/images/usuarios/<%- session.user.image %>" alt="perfil"></div>
    <button id="boton-menu" for="menu"><i class="fa-solid fa-bars"></i></button><!-- menu hamburguesa -->
    <nav id="menu">
        <ul>
            <li><a href="/admin/productos/agregar">Agregar Producto</a></li>
            <li><a href="/admin/productos">Productos</a></li>
            <li><a href="/admin/categorias/agregar">Agregar Categoría</a></li>
            <li><a href="/admin/categorias">Categorías</a></li>
            <li><a href="/admin/users">Usuarios</a></li>
            <li><a href="/">Salir del Admin</a></li>
            <li><a href="/usuario/salir">Cerrar Sesión</a></li>
        </ul>
    </nav>
</div>
<div class="menu-desktop">
    <nav class="menu-admin2">
        <ul class="ul-admin">
            <li><a href="/admin/productos/agregar">Agregar Producto</a></li>
                <li><a href="/admin/productos">Productos</a></li>
                <li><a href="/admin/categorias/agregar">Agregar Categoría</a></li>
                <li><a href="/admin/categorias">Categorías</a></li>
                <li><a href="/admin/users">Usuarios</a></li>
                <li><a href="/">Salir del Admin</a></li>
                <li><a href="/usuario/salir">Cerrar Sesión</a></li>
       </ul>
    </nav>
</div>
</header>

