<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head-admin') %> 
<body class="administracion">
    <%- include('../partials/header-admin') %> 
    <main>
        <div class="conteiner-admin">
            <div class="titulos">
                <h2>¡BIENVENIDOS AL ADMINISTRADOR!</h2>
                <p>¿Que deseas hacer?</p>
            </div>
            <section class="admin-lista">
                <nav class="nav-admin">
                    <ul>
                        <li><a href="">Agregar Producto</a></li>
                        <li><a href="">Listado de Productos</a></li>
                        <li><a href="">Agregar Categorias</a></li>
                        <li><a href="">Listado de Categorias</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </main>
</body>
</html>