<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head-admin') %> 
<body class="administracion">
    <%- include('../partials/header-admin') %> 
    <h1>BIENVENIDOS AL ADMINISTRADOR</h1>
</body>
</html>