<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head-admin') %> 
<body class="index">
    <%- include('../partials/header-admin') %> 
    <main>
        <div class="conteiner-admin">
            <div class="titulos">
                <h2>¡BIENVENIDOS AL ADMINISTRADOR!</h2>
                <p class="p-index">¿Que deseas hacer?</p>
            </div>
            <section class="admin-lista">
                <nav class="nav-admin">
                    <ul>
                        <li><a href="/admin/productos/agregar">Agregar Producto</a></li>
                        <li><a href="/admin/productos">Listado de Productos</a></li>
                        <li><a href="/admin/categorias/agregar">Agregar Categorías</a></li>
                        <li><a href="/admin/categorias">Listado de Categorías</a></li>
                        <li><a href="/admin/users">Usuarios</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </main>
    <%- include("../partials/scripts.ejs") %> 
</body>
</html>