<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head-admin') %> 
<body class="administracion">
    <%- include('../partials/header-admin') %> 
    <main>
        <div class="conteiner-admin">
            <div class="titulos">
                <h2>¡BIENVENIDOS AL ADMINISTRADOR!</h2>
                <p>¿Que deseas hacer?</p>
            </div>
            <section>
                <nav>
                    <ul>
                        <li><a href="">Agregar Producto</a></li>
                        <li><a href="">Listado de Productos</a></li>
                        <li><a href="">Control de Ventas</a></li>
                    </ul>
                </nav>
                <button>
                    <a href=""><p>Agregar Producto</p></a>
                </button>
                <button>
                    <a href=""><p>Listado de Productos</p></a>
                </button>
                <button>
                    <a href=""><p>Control de Ventas</p></a>
                </button>
            </section>
        </div>
    </main>
</body>
</html>