<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body class="profile">
    <%- include("../partials/header.ejs") %>
    <section class="profile-section">
        <h2 class="profile"> Mi Perfil</h2>
        <div class="avatar"></div>
        <p>Subir imagen</p>
        <h2 class="datos-contacto">Datos de Contacto</h2>
        <form action="" method="">
            <div class="input-container">
                <input type="text" class="input-style" name="name" placeholder="Ingrese Nombre">
                <span class="error-message">Debe ingresar su Nombre</span>
            </div>
            <div class="input-container">
                <input type="text" class="input-style" name="apellido" placeholder="Ingrese Apellido">
                <span class="error-message">Debe ingresar su Apellido</span>
            </div>
            <div class="input-container">
                <input type="number" class="input-style" name="codigopostal" placeholder="Código Postal">
                <span class="error-message">Colocar Código Postal</span>
            </div>
            <div class="input-container">
                <input type="number" class="input-style" name="dni" placeholder="Ingrese su DNI">
                <span class="error-message">Debe ingresar su DNI </span>
            </div>
            <div class="input-container">
                <input type="number" class="input-style" name="number" placeholder="Numero de Contacto">
                <span class="error-message">Debe ingresar su Nombre</span>
            </div>
            <div class="input-container">
                <input type="text" class="input-style" name="provincia" placeholder="Elija su Provincia">
                <span class="error-message">Debe ingresar su Provincia</span>
            </div>
            <div class="input-container">
                <input type="text" class="input-style" name="localidad" placeholder="Elija su Localidad">
                <span class="error-message">Debe ingresar su Localidad</span>
            </div>
            <div class="input-container">
                <input type="number" class="input-style" name="number" placeholder="Calle">
                <span class="error-message">Debe ingresar su Calle</span>
            </div>
            <div class="input-container">
                <input type="number" class="input-style" name="number" placeholder="Número">
                <span class="error-message">Debe ingresar Número</span>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn-submit"> Limpiar </button>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn-submit"> Guardar</button>
            </div>
        </form>
    </section>

    <!--FOOTER-->
    <%- include("../partials/footer.ejs") %> 
    <%- include("../partials/scripts.ejs") %> 
</body>
</html>